QFrame
{
  border: none;
}

QToolTip
{
    color: white;
     border: 1px solid black;
     background-color: #007acc;
     padding: 1px;
     opacity: 200;
}

QWidget
{
  background-color: #2d2d30;
  color: white;
}

QWidget:item:hover
{
    color: white;
}

QWidget:item:selected
{
    background-color: #333334;
    color: white;
}

QStatusBar::item
{
  border: none;
}
QStatusBar QLabel {
    color: black;
}

QMenu
{
  border: none;
}

QMenuBar
{
  text-transform: uppercase;
}

QMenuBar::item
{
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 3px 7px 3px 7px;
    color: white;
}

QMenuBar::item:selected
{
    color: white;
    background-color: #4e4e57;
}

QMenuBar::item:pressed
{

}


QMenu
{
  background-color: #1b1b1c;
}

QMenu::item
{
  background-color: #1b1b1c;
}

QMenu::item:selected
{
    color: white;
}

QWidget:disabled
{
    color: #8f8f8f;
    background-color: #323232;
}

QAbstractItemView
{
    background-color: #252526; 
}

QWidget:focus
{

}

QLineEdit
{
    background-color: #47474b;
    padding: 1px;
    border-style: solid;
    border: 1px solid #1e1e1e;
}

QPushButton {
	border: 1px solid #007acc;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	
	padding: 0 6px 0 6px;
}
QPushButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

QComboBox
{
    selection-background-color: #007acc;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border: 1px solid #1e1e1e;
}

QComboBox:hover,QPushButton:hover
{
  background-color: #343434;
    border: 2px solid #007acc;
}


QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #007acc;
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    selection-background-color: #007acc;
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
 }

QComboBox::down-arrow
{
     image: url(:/down_arrow.png);
}

QGroupBox:focus
{
border: 2px solid #007acc;
}

QTextEdit:focus
{
    border: 2px solid #007acc;
}

QScrollBar:horizontal {
     background: #3e3e42;
     height: 15px;
     margin: 0px 16px 0 16px;
}

QScrollBar::handle:horizontal
{
      background: #686868;
      min-height: 15px;
}

QScrollBar::add-line:horizontal {
      background: #686868;
      width: 15px;
      subcontrol-position: right;
      subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
      background: #686868;
      width: 15px;
     subcontrol-position: left;
     subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
      width: 2px;
      height: 2px;
      background: white;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
      background-color: #3e3e42;
}

QScrollBar:vertical
{
      background: #3e3e42;
      width: 15px;
      margin: 16px 0 16px 0;
}

QScrollBar::handle:vertical
{
      background: #686868;
      min-height: 20px;
}

QScrollBar::add-line:vertical
{
      background: #686868;
      height: 14px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
      background: #686868;
      height: 14px;
      subcontrol-position: top;
      subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
      width: 2px;
      height: 2px;
      background: white;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
      background-color: #3e3e42;
}

QTextEdit
{
    background-color: #242424;
}

QPlainTextEdit
{
    background-color: #242424;
}

QHeaderView::section
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QCheckBox:disabled
{
color: #414141;
}

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    color: white;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMainWindow::separator:hover
{

    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #20b2aa, stop:0.5 #03a89e
    stop:1 #20b2aa);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar::handle
{
     spacing: 3px; /* spacing between items in the tool bar */
     background: url(./icons/handle.png);
}

QMenu::separator
{
    height: 1px;
    background-color: #444444;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 2px solid grey;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #007acc;
    width: 2.15px;
    margin: 0px;
}

QTabBar::tab {
    color: white;
    border-bottom-style: none;
    background-color: #007acc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

QTabWidget::pane {

}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:first:!selected
{
 margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:!selected
{
    color: #898989;
    border-bottom-style: solid;
    background-color: #333333;
    margin: 0px 0px 0px 0px;
}

QTabBar::tab:selected
{
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    color: white;
    background-color: #212121;
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
}

QRadioButton::indicator:checked
{
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #007acc,
        stop: 0.3 #323232
    );
}

QCheckBox::indicator{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    width: 9px;
    height: 9px;
}
QComboBox {
    border: 1px solid gray;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: #2d2d30;
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: #2d2d30;
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid #007acc;
}

QCheckBox::indicator:unchecked,
QCheckBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked,
QGroupBox::indicator:unchecked:hover
{
    image: url(./icons/checkbox_unchecked.png);
}


QCheckBox::indicator:checked,
QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked,
QGroupBox::indicator:checked:hover
{
    image: url(./icons/checkbox_checked.png);
}


QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

QRadioButton::indicator
{
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #007acc;
}

QCheckBox::indicator:checked
{
    image:url(./icons/checkbox_checked.png);
}

